@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

:root {
  --body-bg: #f5f5f5;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  background: var(--body-bg);
}

p {
  margin-bottom: 1rem;
}

.container {
  max-width: 1170px;
  margin: auto;
  padding: 0 1.5rem;
}
